/* AsignaciÃ³n de fuentes generales */
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

h2 {
  font-family: 'Big Shoulders Display', sans-serif;
}

/* Estilo general para el contenedor de autenticaciÃ³n */
.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
}

.header {
  font-family: 'BIG SHOULDER DISPLAY', sans-serif;
  color: #032246; 
}

/* Estilo de la caja de autenticaciÃ³n */
.auth-box {
  width: 100%;
  max-width: 450px;
  padding: 1rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

.auth-box h2 {
  font-size: 1.8rem;
  color: #7f00b2;
  margin-bottom: 1rem;
}

.auth-description {
  font-size: 1rem;
  color: #032246;
  margin-bottom: 1.5rem;
}

/* Estilo para los campos de entrada */
.inputField {
  width: 100%;
  padding: 12px;
  margin: 0.5rem 0;
  font-size: 1rem;
  border: 1px solid #095BB9;
  border-radius: 5px;
  transition: border-color 0.2s;
}

.inputField:focus {
  outline: none;
  border-color: #7f00b2;
}

.google-button {
  width: 81%;
  margin: 0 auto 20px; /* Centrar el botón y mantener el margen inferior */
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  color: #370061;
}

.google-button:hover {
  background-color: #f5f5f5;
}

.google-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Estilo para el botÃ³n de inicio de sesiÃ³n */
.button-login {
  width: 100%;
  padding: 12px;
  margin-top: 1rem;
  background-color: #7f00b2;
  color: #FFFFFF;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Big Shoulders Display', sans-serif;
  transition: background-color 0.2s;
}

.button-login:disabled {
  background-color: #CCC;
}

.button-login:hover:enabled {
  background-color: #370061;
}

/* Estilo para los botones de enlace */
.link-button {
  background: none;
  border: none;
  color: #095BB9;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: underline;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
}

.link-button:hover {
  text-decoration: none;
  color: #7f00b2;
}

/* Estilo para el contenedor de invitaciÃ³n */
.invite-container {
  display: flex;
  align-items: flex-start;
  justify-content:center;
  min-height: 80vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
  margin-top: 20px;
}

.invite-box {
  width: 65%;
  padding: 2rem;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}

.invite-box h2 {
  font-size: 1.8rem;
  color: #7f00b2;
  margin-bottom: 0.5rem;
}

.invite-description {
  font-size: 1rem;
  color: #032246;
  margin-bottom: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to top, #370061 0%, #7f00b2 100%);
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #7f00b2;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Estilo de la tarjeta */
.card {
  padding: 2em;
}

/* Estilo para el logo */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.form-widget {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  background-color: #370061;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-widget-1 {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}

.avatar-container {
  text-align: center;
  margin-bottom: 20px;
}

.avatar-container img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to top, #370061 0%, #7f00b2 100%);
  padding: 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navbar-logo {
  height: 90px; /* Ajusta el tamaño del logo */
  width: 350px;
  cursor: pointer;
}

.navbar-buttons {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se ajusten en múltiples líneas si es necesario */
  gap: 15px; /* Espacio entre botones */
  flex-grow: 1; /* Permite que el contenedor de botones crezca */
  justify-content: flex-end; /* Alinea los botones a la derecha */
}

.navbar-button {
  background-color: #2a004e;
  color: rgb(248, 243, 243);
  /* border: 2px solid transparent; */
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex: 0 1 auto; /* Permite que los botones tengan un ancho automático */
  min-width: 120px; /* Ancho mínimo para los botones */
  outline: 2px solid transparent;
  border: none;
}

.navbar-button:hover {

  background-color: #7f00b2;

}

.navbar-button:focus {
  outline-color: #2a004e;
  background-color: #7f00b2;
}

.navbar-button:disabled {
  background-color: #d6d6d6;
  color: #9e9e9e;
  cursor: not-allowed;
}

.user-container {
  padding: 20px; /* Espaciado alrededor del contenedor principal */
}

.user-introduction {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.services-section {
  display: flex;
  flex-direction: column; /* Apila los contenedores verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

.image-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las imágenes se ajusten en múltiples filas */
  justify-content: center; /* Centra las imágenes horizontalmente */
  margin-bottom: 20px; /* Espaciado entre la imagen y el texto */
}

.service-image {
  margin: 10px; /* Espaciado entre imágenes */
}

.service-image img {
  width: 30rem; /* Ancho de las imágenes */
  height: 40rem; /* Altura de las imágenes para mantener las mismas dimensiones */
  object-fit: cover; /* Mantiene la proporción de la imagen y recorta si es necesario */
  border-radius: 8px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde alrededor de la imagen */
}

.text-container {
  display: flex;
  flex-direction: column; /* Apila los textos verticalmente */
  align-items: center; /* Centra los textos horizontalmente */
  width: 100%; /* Ancho completo para los textos */
}

.service-text {
  border: 2px solid #ccc; /* Borde alrededor de la tarjeta de texto */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  margin: 10px; /* Espaciado entre tarjetas de texto */
  width: 80%; /* Ancho de las tarjetas de texto */
  text-align: justify; /* Justifica el texto dentro de la tarjeta */
  background-color: #7f00b2;
}

.service-text h2 {
  text-align: center; /* Centra el encabezado h2 */
  margin: 0; /* Elimina el margen predeterminado */
}

.contact-section {
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido */
  justify-content: center; /* Centra el contenido horizontalmente */
  width: 80%;
  margin: auto;
}

.contact-text {
  flex: 1; /* Permite que el texto ocupe el espacio restante */
  text-align: center; /* Centra el texto de contacto */
  margin-right: 20px; /* Espaciado a la derecha para separar el texto de la imagen */
}

.contact-image {
  width: 300px; /* Ajusta el ancho de la imagen de contacto */
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid; /* Borde alrededor de la imagen de contacto */
}

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar los elementos en el eje horizontal */
  background-color: #7f00b2; /* Fondo blanco */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 400px; /* Ancho máximo del contenedor */
  margin: 20px auto; /* Centrar el contenedor en la página */
}

/* Estilos para la imagen de perfil */
.perfil-image {
  width: 200px; /* Ancho de la imagen */
  height: 200px; /* Alto de la imagen */
  border-radius: 50%; /* Hacer la imagen circular */
  margin-bottom: 20px; /* Espacio debajo de la imagen */
  object-fit: cover; /* Mantener la proporción de la imagen */
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="url"] {
  width: 100%; /* Ancho completo */
  padding: 12px; /* Espaciado interno */
  margin: 0.5rem 0; /* Margen vertical */
  font-size: 1rem; /* Tamaño de la fuente */
  border: 1px solid #095BB9; /* Borde azul */
  border-radius: 5px; /* Bordes redondeados */
  transition: border-color 0.2s; /* Transición suave para el borde */
  color: #FFFFFF;
  background-color: #370061;
}

input[type="text"]:focus,
input[type="url"]:focus {
  outline: none; /* Sin contorno */
  border-color: #7f00b2; /* Cambiar el color del borde al enfocar */
}

/* Estilo para las etiquetas */
label {
  font-weight: bold; /* Negrita para las etiquetas */
  margin-bottom: 0.5rem; /* Espacio debajo de la etiqueta */
  display: block; /* Hacer que las etiquetas ocupen todo el ancho */
}

.profile-container {
  max-width: 600px;
  margin: 6vh auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.profile-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.profile-item:last-child {
  border-bottom: none;
}

.profile-item label {
  font-weight: bold;
  color: #555;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #007bff;
}

main{
  width: 100%;
  flex-grow: 1;
}

.span-color {
  color: #000000;
}

